HPESC_TOKEN_URL=https://api-int-dev.support.hpecorp.net/uaa/oauth/token
HPESC_CLIENT_ID=
HPESC_CLIENT_SECRET=
HPESC_AGENT_URL=https://api-gw-ext-dev.support.hpe.com/apigwext/llmaas/hpescagent/v1/graph-stream
HPESC_TIMEOUT_SECONDS=20
HPESC_VERIFY_SSL=false
AGUI_STREAM_CHUNK_SIZE=24
AGUI_STREAM_CHUNK_DELAY=0.02
LOG_LEVEL=INFO
